In [1]:
import pandas as pd

url= "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

df = pd.read_csv(url)

In [2]:
df.shape

(4008, 11)

In [3]:
print(df.dtypes)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [4]:
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [ ]:
#Number of complaints are in a date format
df["nr_comp"] = df["Number of Open Complaints"].str.split("/").str[0].astype(float)

print(df["nr_comp"])

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: nr_comp, Length: 4008, dtype: float64

In [ ]:
unique_counts = df.nunique()
ehiclprint(unique_counts)

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
nr_comp                         1
dtype: int64

In [ ]:
categorical=['Customer', 'ST', 'GENDER', 'Education', 'Policy Type', 'Vehicle Class']

In [ ]:
df["Customer"].describe()
# Each costumer has a unique ID number

count        1071
unique       1071
top       RB50392
freq            1
Name: Customer, dtype: object

In [ ]:
df["ST"].describe()
# There are costumers from 8 different states, most of them from Oregon

count       1071
unique         8
top       Oregon
freq         320
Name: ST, dtype: object

In [ ]:
df["GENDER"].describe() 
# It should be only 2 unique values, 'F' and 'M'

count     954
unique      5
top         F
freq      457
Name: GENDER, dtype: object

In [ ]:
df["Education"].describe()
# There are 6 different education levels for costumers, most of them Bachelor

count         1071
unique           6
top       Bachelor
freq           324
Name: Education, dtype: object

In [ ]:
df["Policy Type"].describe()
# There are 3 different policy types, most of them personal auto

count              1071
unique                3
top       Personal Auto
freq                780
Name: Policy Type, dtype: object

In [ ]:
df["Vehicle Class"].describe()
# There are 6 different vehicle classes, most of them four door car

count              1071
unique                6
top       Four-Door Car
freq                576
Name: Vehicle Class, dtype: object

In [ ]:
numerical= ['Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Total Claim Amount']

In [ ]:
print("Min:", df["Income"].min())
print("Max:", df["Income"].max())
#

Min: 0.0
Max: 99960.0

In [35]:
print("Min:", df["Monthly Premium Auto"].min())
print("Max:", df["Monthly Premium Auto"].max())

Min: 61.0
Max: 35354.0

In [ ]:
print("Min:", df["nr_comp"].min())
print("Max:", df["nr_comp"].max())
# There are clients with a maximum of 1 complain, if the costumers don´t have a complain the value is nan, that´s why the min value is also 1

Min: 1.0
Max: 1.0

In [37]:
print("Min:", df["Total Claim Amount"].min())
print("Max:", df["Total Claim Amount"].max())

Min: 0.382107
Max: 2893.239678

In [42]:
numerical_2=['Income', 'Monthly Premium Auto', 'nr_comp', 'Total Claim Amount']

In [44]:
summary_stats = pd.DataFrame({
    "Mean": df[numerical_2].mean(),
    "Median": df[numerical_2].median(),
    "Mode": df[numerical_2].mode().iloc[0],  
    "Std Dev": df[numerical_2].std(),
    "Min": df[numerical_2].min(),
    "25%": df[numerical_2].quantile(0.25),
    "50%": df[numerical_2].quantile(0.5),
    "75%": df[numerical_2].quantile(0.75),
    "Max": df[numerical_2].max()
})

print(summary_stats)

                              Mean        Median   Mode       Std Dev  \
Income                39295.701214  36234.000000    0.0  30469.427060
Monthly Premium Auto    193.234360     83.000000   65.0   1601.190369
nr_comp                   1.000000      1.000000    1.0      0.000000
Total Claim Amount      404.986909    354.729129  321.6    293.027260

                            Min           25%           50%      75%  \
Income                 0.000000  14072.000000  36234.000000  64631.0
Monthly Premium Auto  61.000000     68.000000     83.000000    109.5
nr_comp                1.000000      1.000000      1.000000      1.0
Total Claim Amount     0.382107    202.157702    354.729129    532.8

                               Max
Income                99960.000000
Monthly Premium Auto  35354.000000
nr_comp                   1.000000
Total Claim Amount     2893.239678

In [ ]:
#CHALLENGE 2

In [46]:
location = 'ST'  

location_counts = df[location].value_counts()

less_common = location_counts.sort_values(ascending=True).head(5)

print("Top 5 least common customer locations:")
print(less_common)

Top 5 least common customer locations:
ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

In [47]:
policy_col = 'Policy Type'

policy_counts = df[policy_col].value_counts()

print("Number of policies sold by type:")
print(policy_counts)


top_policy_type = policy_counts.idxmax()
top_policy_count = policy_counts.max()

Number of policies sold by type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [50]:
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

personal_income_avg = personal_auto_df['Income'].mean()
corporate_income_avg = corporate_auto_df['Income'].mean()

print(f"Average Income for Personal Auto: {personal_income_avg}")
print(f"Average Income for Corporate Auto: {corporate_income_avg}")

Average Income for Personal Auto: 38180.69871794872
Average Income for Corporate Auto: 41390.31196581197